.about {
  &__header {
    display: block;
    font-family: $main-font, $main-ff;
    font-size: 24px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 3px;
    line-height: 30px;
    margin: 0;
  }
}

.features {
  list-style-type: none;
  padding: 0;
  color: $black;
  font-family: $main-font, $main-ff;
  font-size: 16px;
  font-weight: 700;
  &__icon-1 {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    background: url("../images/mobile/icon-feature-1.png") no-repeat center;
  }
  &__icon-2 {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    background: url("../images/mobile/icon-feature-2.png") no-repeat center;
  }
  &__icon-3 {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    background: url("../images/mobile/icon-feature-3.png") no-repeat center;
  }
  &__icon-4 {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    background: url("../images/mobile/icon-feature-4.png") no-repeat center;
  }
  &__icon-5 {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    background: url("../images/mobile/icon-feature-5.png") no-repeat center;
  }
  &__icon-6 {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    background: url("../images/mobile/icon-feature-6.png") no-repeat center;
  }
}

.reviews {
  &__header {
    display: block;
    font-family: $main-font, $main-ff;
    font-size: 24px;
    font-weight: 700;
    padding-top: 35px;
    padding-bottom: 3px;
    line-height: 30px;
    margin: 0;
  }
  &__btn {
    margin-top: 40px;
  }
}

.user-review {
  color: $grey;
  font-family: $tertiary-font, $main-ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  &__username {
    color: $black;
    font-weight: 700;
    line-height: 24px;
  }
  &__twitter {
    color: $grey;
    font-weight: 400;
    line-height: 35px;
  }
}

.slider-buttons {
  &__container {
    margin-top: 26px;
    display: flex;
  }
  &__prev {
    border: 1px solid $border-bottom;
    margin: 0;
    padding: 0;
    //width: 50%;
  }
  &__next {
    border: 1px solid $border-bottom;
    border-left: none;
    margin: 0;
    padding: 0;
    //width: 50%;
  }
  &__icon-left-arrow {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 26px;
    background: url("../images/mobile/huge-arrow-left-icon.png");
  }
  &__icon-right-arrow {
    margin-left: auto;
    margin-right: auto;
    transform: scale(-1, 1);
    width: 50px;
    height: 26px;
    background: url("../images/mobile/huge-arrow-left-icon.png");
  }
}

.slider-container {
  min-height: 200px;
}