.contacts {
  color: $grey;
  font-family: $tertiary-font, $main-ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  &__header {
    display: block;
    font-family: $main-font, $main-ff;
    font-size: 24px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 3px;
    line-height: 30px;
    margin: 0;
  }
  &__btn{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.table-contacts{
  &__email{
    vertical-align: top;
    width: 28%;
  }
  &__adress{
    vertical-align: top;
    width: 28%;

  }
  &__email-link{
    padding-bottom: 4 px;
    border-bottom: 1px solid $light-green;
  }
}
