.weekly-deal {
  &__header {
    display: block;
    font-family: $main-font, $main-ff;
    font-size: 24px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 3px;
    line-height: 30px;
    margin: 0;
  }
  &__subheader {
    display: block;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 5px;
    color: $light-green;
    font-family: $tertiary-font, $main-ff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__descr {
    color: $grey;
    font-family: $tertiary-font, $main-ff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 35px;
  }
  &__img {
    height: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.specs-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 28px;
  &__attr {
    border-bottom: 1px solid $border-bottom;
  }
  &__val {
    border-bottom: 1px solid $border-bottom;
  }
  color: $grey;
  font-family: $tertiary-font,
  $main-ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.price {
  margin: 20px;
  display: block;
  text-align: center;
  color: $grey;
  font-family: $main-font, $main-ff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.zigzag-line {
  height: 6px;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 31px;
  background: url("../images/mobile/zigzag-line-mobile.png");
}