@include for-mobile-only {
  .top-menu-tablet-up {
    display: none;
  }
  .active{
    display: block;
  }
  .top-menu-mobile {
    &__link {
      text-decoration: none;
    }
    &__logo {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      height: 35px;
      width: 86px;
      background: url("../images/mobile/mishka-logo-mobile.png");
    }
    &__icon-hamburger {
      position: absolute;
      right: 30px;
      top: 12px;
      width: 20px;
      height: 14px;
      background: url("../images/mobile/menu-hamburger-icon.png");
    }
    &__item {
      font-family: $main-font, $main-ff;
      font-weight: 700;
      line-height: 24px;
      padding-left: 44px;
      min-height: 60px;
      margin: 0;
      padding: 0;
      position: relative;
      list-style-type: none;
      text-decoration: none;
      color: $black;
      border-bottom: 1px solid $border-bottom;
      &--logo {
        min-height: 57px;
      }
    }
  }
}

@include for-tablet-up {
  .top-menu-mobile {
    display: none;
  }
  .top-menu-tablet-up {
    vertical-align: top;
    min-height: 88px;
    border-bottom: 1px solid $border-bottom;
    .main-logo {
      &--top-menu {
        vertical-align: top;
        display: inline-block;
        margin-top: 22px;
      }
    }
  }
  .search-block {
    float: right;
    display: inline-block;
    vertical-align: top;
    min-height: 88px;
    min-width: 82px;
    border-left: 1px solid $border-bottom;
    border-right: 1px solid $border-bottom;
  }
  .search-block:before {
    content: "";
    display: block;
    background: url("../images/mobile/search-icon.png");
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 18px;
    height: 18px;
  }
  .cart-block {
    font-family: $main-font, $main-ff;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    float: right;
    vertical-align: bottom;
    position: relative;
    min-height: 88px;
    min-width: 264px;
    height: 100%;
    &__cart-status {
      display: inline-block;
      margin-left: 77px;
      margin-top: 30px;
    }
  }
  .cart-block:before {
    content: "";
    display: block;
    position: absolute;
    background: url("../images/mobile/cart-icon.png");
    top: 36px;
    left: 31px;
    width: 21px;
    height: 18px;
  }
  .top-menu-desktop-up {
    display: none;
  }
}

@include for-desktop-up {
  .top-menu-tablet-up {
    display: none;
  }
  .top-menu-desktop-up {
    display: block;
    min-height: 88px;
  }
  .main-logo--top-menu{
    position: absolute;
    left: 45%;
  }
  .logo-placeholder{
    height: 10px;
    width: 10px;
    flex-grow: 1;
  }
  // .hero-links {
  //   display: none;
  //   &__link {
  //     font-size: 16px;
  //     font-weight: 700;
  //     line-height: 24px;
  //     height: 100%;
  //   }
  // }
  .top-menu-desktop-up {
    display: flex;
    border-bottom: 1px solid $border-bottom;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__divider{
      height: 88px;
      width: 1px;
      margin-right: 30px;
      background-color: $border-bottom;
    }
  }
}