//Fonts
$main-font:  'Verdana';
$secondary-font: 'Tahoma';
$tertiary-font: 'Open Sans';
$main-ff:  sans-serif;
//Colors
$white: #ffffff;
$black: #000000;
$light-green: #63d1bb; //font and some icons
$dark-green: #56c3b2;
$green-icon: #3bb09d;
$green-icon-dark: #35a999;
$grey: #444444;
$border-bottom: #ececec;
//font colors
$button-dark-font: #686868;
$light-grey-font: #858585;
$footer: #f1f1f1;