@import 'variables';
@import 'buttons';
@import 'breakpoints';
@import 'mobile-menu';
@import 'top-menu';
@import 'header';
@import 'featured';
@import 'about';
@import 'contacts';
@import 'footer';


body {
  box-sizing: border-box;
  min-width: 300px;
}

.wrapper {
  width: 81%;
  margin: 0 auto;
  position: relative;
}

@include for-tablet-up {
  .wrapper {
    width: 87%;
    margin: 0 auto;
    position: relative;
  }
}

#map {
  height: 460px;
}

