@import 'variables';
@import 'breakpoints';
@import 'mobile-menu';
@import 'top-menu';
@import 'header';
@import 'featured';
@import 'about';
@import 'contacts';
@import 'footer';
body {
  box-sizing: border-box;
}

.wrapper {
  width: 81%;
  margin: 0 auto;
  position: relative;
}

@include for-tablet-up {
  .wrapper {
    width: 87%;
    margin: 0 auto;
    position: relative;
  }
}

#map {
  height: 460px;
}

.btn {
  cursor: pointer;
  min-height: 52px;
  width: 100%;
  background-color: transparent;
  border: 2px solid $grey;
  color: $grey;
  font-family: $tertiary-font, $main-ff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  &--feedback {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}